body {
  font-family: "Segoe UI";
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

h1 {
  background-color: crimson;
  color: white;
  text-align: center;
}

h2 {
  text-align: center;
  color: white;
}

.but {
  margin-left: 35%;
}

button {
  font-weight: bold;
  font-size: 20px;
  width: 125px;
  padding: 10px;
  margin: 10px;
  background-color: crimson;
  color: white;
  border: none;
}

button:hover {
  background-color: white;
  color: crimson;
}
